html {
  font-family: Source Han Sans JP;
}
.content {
  min-height: unset;
}
.header {
  width: 100%;
  font-size: 26px;
  text-align: center;
  padding: 5px;
  background-color: #1a202e;
  color: white;
  font-weight: 400;
  font-family: A-OTF Midashi Go MB31 Pro;
  position: sticky;
  top: 0;
  z-index: 30;
}

.button-container {
  margin: 0;
  position: relative;
  width: 100%;
  padding: 0;
}
.logo {
  width: 40%;
  position: absolute;
  top: 40%;
  right: 15%;
  transform: translateY(-50%);
}
.topics {
  font-family: BIZ UDPGothic;
  font-size: 3.125vw;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #888888;
}
.news-container {
  padding: 30px;
  background-color: #f1f5f6;
  font-family: Source Han Sans JP;
}
.news-box {
  padding:50px;
  border-bottom: 1px solid #aaa;
  position: relative;
  background-color: #f1f5f6;
  text-align: center;
}
.rss {
  padding: 5px 10px;
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
}
.rss img {
  width: 16px;
  margin-right: 5px;
}
.rss:hover {
  box-shadow: 0 0 6px #666;
}
.news-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
}
.news-table {
  width: 90%;
  text-align: left;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 50px;
}
.news-table tr {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.news-table tr td:first-child {
  width: 20%;
  min-width: 121px;
}
.news-table tr td:first-child br {
  display: none;
}
.news-table td {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top
}
.news-link {
  text-decoration: none;
  position: relative;
  display: block;
  padding-right: 10px;
}
.news-link::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 7px;
  height: 1em;
  background: url(./image/arrow.svg) no-repeat 0 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
a.news-link:hover {
  color: blue!important;
  text-decoration: underline!important;
}
.news-button {
  color: white;
  padding: 5px;
  width: 300px;
  background-color: #1a202e;
  border-radius: 20px;
  border: 2px solid transparent;
}
.news-button:hover {
  cursor: pointer;
  color: #1a202e;
  background-color: transparent;
  border: 2px solid #1a202e;
}
.news-button:focus {
  outline: none;
}
.button-letter{
  position: relative;
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  color: #a1a1a1;
  font-size: 12px;
  white-space: nowrap;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
a.footer-link {
  color: #a1a1a1;
}
.footer-content {
background-color: #043646;
padding-top: 40px;
padding-bottom: 40px;
}
.footer-content01 {
margin: auto;
width: 80%;
border-bottom: 1px solid white;
padding-top: 10px;
padding-bottom: 10px;
font-size: 14px;
color: white;
}
.footer-text {
  font-size: 12px;
  color: #a1a1a1;
}
.footer-content02 {
margin: auto;
width: 80%;
padding-top: 20px;
display: flex;
}
.copyright {
background-color: #1a202e;
text-align: center;
padding: 40px;
}
.red-triangle::before {
content: "\25B8";
color: red;
}
.red-triangle {
  color: white;
  font-size: 14px;
}
.footer-detail {
width: 20%;
padding-right: 10px;
}
.white-triangle {
/* font-weight: bold; */
font-size: 14px;
padding: 10px 0;
color: white!important;
}
.white-triangle::before {
content: "\25B8";
color: white!important;
}
.padding01 {
  padding-right: 3rem!important;
}
.padding02 {
  padding-right: 1rem!important;
}
.margin01 {
  margin-bottom: 1.5rem!important;
}

@media (max-width: 1400px) {
  .footer {
    white-space: normal;
  }
}
@media (max-width: 1200px) {
  .news-container {
    padding: 20px;
  }
  .news-box {
    padding:30px;
  }
}
@media (max-width: 900px) {
  .footer-content01 {
    width: 90%;
  }
  .footer-content02 {
    width: 90%;
  }
}
@media (max-width :780px) {
  td {
    padding-right: 10px;
    padding-left: 10px;
  }
  .news-container {
    padding: 10px;
  }
  .news-box {
    padding: 20px;
  }
  .news-table {
    width: 100%;
  }
  .news-table tr td:first-child {
    width: 121px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 550px) {
  .header {
    width: 100vw;
    font-size: 20px;
    padding: 3px;
  }
  .footer-content01 {
    width: 90%;
  }
  .footer-content02 {
    width: 90%;
    display: block;
  }
  .footer-detail {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  .copyright {
    padding: 30px;
  }
  .news-title {
    font-size: 18px;
    margin-bottom: 7vw;
  }
  .rss {
    font-size: 13px;
    top: 20px;
    right: 0px;
  }
  .rss img {
    width: 13px;
    margin-right: 3px;
  }
  .news-table {
    font-size: 13px;
    margin-bottom: 7vw;
  }
  .news-table tr td:first-child {
    width: 80px;
    min-width: 80px;
  }
  .news-table tr td:first-child br {
    display: block;
  }
  .button-letter {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  
  .footer-content01 {
    width: 90%;
  }
  .footer-content02 {
    width: 90%;
    display: block;
    padding-top: 0px;
  }
  .footer-detail {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  .copyright {
    padding: 30px;
  }
  .padding01 {
    padding-right: 5vw!important;
  }
  .padding02 {
    padding-right: 2.5vw!important;
  }
  .margin01 {
    margin-bottom: 3vw!important;
  }
}